*                       @org-codedevs2/sm-p01-esteban
/src/                   @org-codedevs2/sm-p01-esteban
/docs/                  @org-codedevs2/sm-p01-esteban
/.github/               @org-codedevs2/sm-p01-esteban
/docs/rubrica-evaluacion.md   @org-codedevs2/coderownersgit